aside{
	float: left;
	width: 270px;
}

section{
	float: left;
	width: 650px;
}

main{
	background-color: #ffffff;
	border-color: #dddddd;
	width: 960px;

}

.header1{
	padding: 15px;

}

.header2{
	padding: 15px;
	border-color: #dddddd;

}
.header3{
	padding: 15px;

}

footer{
	background-color: #666666;


}

h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}